

:root {
  background-image: url("/siltrun.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 98em; 
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

}

a {
  font-size: large;
  font-weight: 500;
  color: #73ff64;
  
}
a:hover {
  color: black;
}

.Title {
    
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  

}

body {
  font-size: large;
  line-height: 100px;
}

h1 {
  font-weight: 2000;
  color: black;
  font-size: 30px;
  line-height: 1.1;
  padding-left: 50;
}

h2 {
  color: rgb(215, 10, 10);
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  line-height: 2;
  padding-left: 50;
}

.ul {
  box-sizing: border-box;
}

Header {
  font-size: xx-large;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(8, 137, 148);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}