

:root {
  background-image: url("/siltrun.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 98em; 
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

}

a {
  size: 50px;
  font-family: fantasy;
  font-size: 30px;
  font-weight: 500;
  color: #73ff64;
  
}
a:hover {
  color: black;
}

Title {
    
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  

}

body {
  font-size: large;
  line-height: 100px;
}

h1 {
  
  font-weight: 200;
  font-family: fantasy;
  color: black;
  font-size: 150px;
  text-align: left;
}

h2 {
  color: rgb(215, 10, 10);
  font-size: 200px;
  font-family: fantasy;
  text-align: right;
}

.ul {
  box-sizing: border-box;
  list-style: circle;
  }

.li {
  list-style-position: outside;
  list-style-type: square;
}

img {
 font-weight: bolder;
}

.header {
  column-fill: auto;
}

.name-function {
  font-family: fantasy ;
  color: blue;
}

button {
  border-radius: 8px;
  border-style: ridge;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: fantasy;
  background-color: rgb(236, 119, 15);
  cursor: crosshair;
  transition: border-color 0.25s;
}
button:hover {
  color: rebeccapurple;
  
}
button:focus,
button:focus-visible {
  outline: 17px outline-color rebeccapurple -webkit-focus-ring-color;
}

div {
  color: #73ff64;
  font-family: fantasy;
  font-size: xx-large;
}